body{
  background-color: black;
}
#sidebox{
  position: fixed;
  top: 46%;
  left: 84%;
  height: 13%;
  width: 12%;
  border: 5px solid #FFB000;
  color: white;
}
#output{
  position: reletive;
  color: #33FF00;
  font-family: Geniva;
  padding: 4px;
}
#EndTurn{
  position: fixed;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0 2px #999;
  font-size: 300%;
  font-family: Geniva;
  top: 40%;
  left: 84%;
  width: 12.5%;
  height: 7%;

}
#EndTurn:hover{
  background-color: #3e8e41;
}
#EndTurn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px); 
}
#cards_in_hand{
  position: fixed;
  top: 55%;
  left: 2%;
  width: 80%;
  height: 40%;
  background-color: #33FF33;
}
#field{
  position: fixed;
  top: 5%;
  left: 2%;
  width: 80%;
  height: 40%;

}
#footer{
  position: fixed;
  top: 98%;
  color: white
}
.card{
  position: fixed;
  background-color: #e0e2e4;
  width: 315px;
  height: 440px;
  border: 1px solid;
  padding: 0px;
  box-shadow: 1px 1px #c6bcb6;
  margin: 5px;
  float:left;
}
#cardTemp{
  visibility: hidden;
  z-index: 1;
}
.card h1{
  text-align:center;
}

