#allCards{
  position: fixed;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 1px #c6bcb6;
  margin: 5px;
  background-color: black;
  overflow: hidden;
  top: 600px;
  width: 1000px;
  height: 500px;
}
.field{
  position: reletive;
  height: 880px;
  border: 1px solid;
  float: left;
}
#cardTemp{
  visibility: hidden;
  z-index: 1;
}
.card{
  position: fixed;
  background-color: #e0e2e4;
  width: 315px;
  height: 440px;
  border: 1px solid;
  padding: 0px;
  box-shadow: 1px 1px #c6bcb6;
  margin: 5px;
  float:left;
}
.execute{
  position: fixed;
  top: 450px;
  width: 1000px;
  background-color: black;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 1px #c6bcb6;
  margin: 5px;
  color: white;
}
.card h1{
  text-align:center;
}
#stack:after{
  content: "";
  display: table;
  clear: both;
}
