.launcher-button[_ngcontent-c2] {
    display: block;
    background-color: rgba(0,0,0,.15);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    border-radius: 48px;
    height: 96px;
    width: 96px;
    color: #fff;
    background-image:;
    background-position-x: 52%;
    outline: 0;
  }
  .launcher-1[_ngcontent-c2] {
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 500;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .launcher-2[_ngcontent-c2] {
    position: absolute;
    top: 10px;
    right: -20%;
    z-index: 500;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
.head{
    "height": 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(123,171,123);
    background: linear-gradient(0deg, rgba(160,143,130,1) 0%, rgba(123,171,123,1) 50%, rgba(119,164,199,1) 100%);"
}